<button type="button">Logout</button>

<h1>Tabletop Auction House</h1>

<form>
    <input type="text" placeholder="Username"><br>
    <input type="text" placeholder="Password"><br>
    <input type="submit" value="Login"><button type="button">Signup</button>
</form>