<button type="button">Logout</button>

<h1>Tabletop Auction House</h1>

<form id="login-form">
    <input type="text" placeholder="Username" id="username-login"><br>
    <input type="text" placeholder="Password" id="password-login"><br>
    <input type="submit" value="Log In"><button type="button" id="signup-button">Sign Up</button>
</form>

{{!-- Does this matter if it's not a relative path? -Ed --}}
<script src="./public/js/login.js"></script>