<button type="button" id="logout-button">Logout</button>

<h1>Tabletop Auction House</h1>

<form id="login-form">
    <input type="text" placeholder="Username" id="username-login"><br>
    <input type="text" placeholder="Password" id="password-login"><br>
    <input type="submit" value="Login"><button type="button" id="signup-button">Signup</button>
</form>

<script src="./js/login.js"></script>