<button type="button">Go Back</button>

<h2>Add/Edit an Item</h2>

<form id="signup-form">
    <input type="text" placeholder="Item name..." id="item-name"><br>
    <input type="text" placeholder="Price..." id="item-price"><br>
<input type="text" placeholder="Quantity..." id="item-quantity"><br>
    <input type="submit" value="Save Item"><br>
</form>

{{!-- Script link here --}}