<div class="text-center">
  <h2>{{name}}</h2>
  <p>{{price}}</p>
  <p>
    <span for="img" aria-label="money">💲</span>
    <span class="quantity-available">{{stock}}</span>
    needed
  </p>
  <p>
    <button class="btn btn-primary">Buy this item</button>
  </p>
</div>
