<div class="font-sans min-h-screen antialiased bg-indigo-100 pt-10 space-y-8">

<button class="border-2 bg-gray-100 border-blue-600 rounded-lg px-3 py-2 text-blue-400 cursor-pointer hover:bg-blue-600 hover:text-blue-200" type="button" id="logout-button">Logout</button>

<br>

<img class="mx-auto shadow-lg" src="./img/TabletopAuctionHouse.jpg" alt="Tabletop Auction House">

<button class="border-2 bg-gray-100 border-blue-600 rounded-lg px-3 py-2 text-blue-400 cursor-pointer hover:bg-blue-600 hover:text-blue-200" type="button" id="addItem-button">Add Item</button>

{{!-- UI drop-down not implemented --}}
{{!-- <select>
    <option>D&#38;D</option>
    <option>Starwars</option>
    <option>Pathfinder</option>
    <option>Vampire</option>
</select> --}}

<main class="flex flex-col w-full sm:w-96 sm:m-auto md:w-7/12 mb-5 space-y-8">
  {{#each products as |product|}}
  {{>product-details}}
  {{/each}}
</main>

<div class="flex justify-center font-bold text-md pb-2">
  <p>Created by <a class="underline" href="https://github.com/elisesamanthadaly">Elise Daly</a>, <a class="underline"
      href="https://github.com/smakela13">Soma Mäkelä</a>, <a class="underline"
      href="https://github.com/lordgeer/">Thomas Musler</a>, and <a class="underline"
      href="https://github.com/dtmerrill">Dana Merrill</a>.</p>
</div>

</div>
<script src="./js/shop.js"></script>
<script src="./js/logout.js"></script>