<button type="button" id="home-button">Home</button>
<button type="button" id="logout-button">Logout</button>

<br>

<button type="button" id="addItem-button">Add Item</button>

{{!-- UI drop-down not implemented --}}
{{!-- <select>
    <option>D&#38;D</option>
    <option>Starwars</option>
    <option>Pathfinder</option>
    <option>Vampire</option>
</select> --}}

<main>
  {{#each products as |product|}}
  {{>product-details}}
  {{/each}}
</main>

<script src="./js/shop.js"></script>