<button type="button">Home</button>
<button type="button">Logout</button>

<br>

<button type="button">Add Item</button>

<select>
    <option value="volvo">Fantasy</option>
    <option value="saab">Sci-Fi</option>
</select>

<main>
    <div><span>Item name here...</span><button type="button">Edit</button><button type="button">Delete</button></div>
</main>