<button type="button" id="goBack-button">Go Back</button>

<h2>Signup</h2>

<form id="signup-form">
    <input type="text" placeholder="Username" id="username-signup"><br>
    <input type="text" placeholder="Password" id="password-signup"><br>
    <input type="submit" value="Submit"><br>
    <label for="dm-signup">Are you a DM?</label><input type="checkbox" id="dm-signup">
</form>

<script src="/js/signup.js"></script>