<div class="font-sans min-h-screen antialiased bg-indigo-100 pt-10 space-y-14">

<button type="button" id="goBack-button" class="border-2 bg-gray-100 border-blue-600 rounded-lg px-3 py-2 text-blue-400 cursor-pointer hover:bg-blue-600 hover:text-blue-200">Go Back</button>

<h2>View an Item</h2>

<div class="flex flex-col space-y-1">
    <div type="text" placeholder="Item name..." id="item-name">{{product_name}}
</div>
<div class="flex flex-col space-y-1">
    <div type="text" placeholder="Price..." id="item-price">{{price}}
</div>

</div>

<script src="./js/view.js"></script>